.no-box-sizing *, .no-box-sizing *:before, .no-box-sizing *:after {
 -webkit-box-sizing: initial;
 -moz-box-sizing: initial;
 box-sizing: initial;
}
.list-group {
 color: #FFF;
}

.list-group-item {
 border: 0;
 background: none !important;
 border-bottom: 1px solid #FFF;
}
.glyphicon{
	color: white;
}
#myModal {
 position: relative;
}
.modal-open{
	overflow:visible;
}
.modal-dialog {
 position: fixed;
 width: 650px;
 margin: 0;
 padding: 10px;
 z-index:1100 !important;
}